<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myEonClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <myEonClient.Properties.Settings>
            <setting name="WalletsJson" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="EnableDebugLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableErrorLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentConfirmedMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CoreConfig_Peer" serializeAs="String">
                <value>https://peer.testnet.eontechnology.org:9443</value>
            </setting>
        </myEonClient.Properties.Settings>
    </userSettings>
</configuration>