<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myEonWallet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <myEonWallet.Properties.Settings>
            <setting name="WalletsJson" serializeAs="String">
                <value>[{"NickName":"Primary","Seed":"91814f1ba86229120fbaf74066dba1cc7850667fa2bb9d11ae37f808135118c4","AccountID":"EON-RUV94-ZTJPS-NPCYZ","PublicKey":"37109ef5182b7f9efd6eb3924a722c59c308df36f1050a67c7b6439de5305338"},{"NickName":"account2","Seed":"52f0d7ed03d2ec526e2f9f82cc0b87604a2cb7404e778b8d5f9364a24102e146","AccountID":"EON-JEP27-E638L-7VN3N","PublicKey":"16f334bb97a762a3e384edc7eba87bfa43b7841373d62fc959f064d56f24e0f5"}]</value>
            </setting>
            <setting name="BalanceSyncPeriod" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TransactionHistoryMax" serializeAs="String">
                <value>200</value>
            </setting>
        </myEonWallet.Properties.Settings>
    </userSettings>
</configuration>